

#################   Default Whitelist ipset  #####################

$IPCMD destroy "{{ firewall_whitelist_ipset }}"
createIPSET "{{ firewall_whitelist_ipset }}" "hash:ip"

$IPCMD destroy "{{ firewall_whitelist_ipset }}-net"
createIPSET "{{ firewall_whitelist_ipset }}-net" "hash:net"


# Now populate the set with whitelisted IPs:

{% for wl in firewall_whitelist %}
"$IPCMD" add {{ firewall_whitelist_ipset }} {{ wl.ip }} comment "{{ wl.name }}"
{% endfor %}

{% for wln in firewall_whitelist_net %}
"$IPCMD" add {{ firewall_whitelist_ipset }}-net {{ wln.ip }}
{% endfor %}

# Whitelist traffic
iptables -I INPUT  -m set --match-set {{ firewall_whitelist_ipset }}-net src -p tcp  -j ACCEPT
iptables -I INPUT  -m set --match-set {{ firewall_whitelist_ipset }} src -p tcp  -j ACCEPT

##################  end WWL whitelisting #######################
